<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mascota">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MascotaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mascota"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.view.diary.detail.EpilogueDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.diary.DiaryWriteActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.view.profile.BookCompleteActivity" />
        <activity
            android:name=".ui.view.rainbow.epilogue.EpilogueWriteActivity"
            android:exported="true" />
        <activity android:name=".ui.view.rainbow.farewell.FarewellActivity" />
        <activity
            android:name=".ui.view.profile.ProfileCreateActivity"
            android:exported="true" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.content.detail.ContentDetailActivity"
            android:exported="true" />
        <activity android:name=".ui.view.content.edit.ContentEditActivity" />
        <activity
            android:name=".ui.view.diary.read.DiaryReadActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.user.login.LoginActivity"
            android:exported="true" />
    </application>

</manifest>